  .success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .custom-button {
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
}
  .error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .box {
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-width: 200px; /* Set a minimum width */
    min-height: 200px; /* Set a minimum height */
  }
  
  .box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .box label {
    font-weight: bold;
  }
  
  .box input {
    padding: 5px;
  }
  
  .box input[type="submit"] {
    background-color: #048ff9; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
  }

.alert-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}