<div *ngIf="materialLotSuccessMessage$ | async" class="box medium">
  <p class="success-message">
    {{ materialLotSuccessMessage$ | async }}
  </p>
</div>
<div *ngIf="materialLotError$ | async" class="box medium">
  <p class="error-message">
    {{ materialLotError$ | async }}
  </p>
</div>
<div class="box small">
  <form [formGroup]="materialLotForm">
    <label for="material_id">Material ID:</label>
    <input
      type="text"
      id="material_id"
      name="material_id"
      formControlName="material_id"
    /><br /><br />
    <label for="lot_number">Material Lot Number:</label>
    <input
      type="number"
      id="lot_number"
      name="lot_number"
      formControlName="lot_number"
    /><br /><br />
    <input type="submit" id="submitButton" value="Submit" (click)="onSubmit()" />
    <input
      type="button"
      id="updateButton"
      class="custom-button"
      value="Update"
      (click)="onUpdate()"
    />
  </form>
</div>
<div class="box medium">
  <table id="material_lots_table">
    <tr *ngFor="let materialLot of materialLots$ | async">
      <app-material-lot-row
        (deleteMaterialLot)="onDelete($event)"
        (viewOrders)="onViewOrders($event)"
        (selectMaterialLot)="onSelect($event)"
        [materialLot]="materialLot"
      ></app-material-lot-row>
    </tr>
  </table>
</div>
<div *ngIf="alertMessage" class="box medium">
  <p class="alert-message">
    {{ alertMessage }}
  </p>
</div>
