<div *ngIf="purchaseOrderSuccessMessage$ | async" class="box medium">
  <p class="success-message">
    {{ purchaseOrderSuccessMessage$ | async }}
  </p>
</div>
<div *ngIf="purchaseOrderError$ | async" class="box medium">
  <p class="error-message">
    {{ purchaseOrderError$ | async }}
  </p>
</div>
<div class="box large">
  <form [formGroup]="purchaseOrderForm" id="orders_form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name" />

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" formControlName="quantity" />

    <label for="unit_price">Unit Price:</label>
    <input
      type="number"
      step="0.01"
      id="unit_price"
      name="unit_price"
      formControlName="unit_price"
    />

    <div class="box medium" formGroupName="shipping_address">
      <label for="street">Street:</label>
      <input type="text" id="street" name="street" formControlName="street" />

      <label for="city">City:</label>
      <input type="text" id="city" name="city" formControlName="city" />

      <label for="state">State:</label>
      <input type="text" id="state" name="state" formControlName="state" />

      <label for="zip">Zip:</label>
      <input type="text" id="zip" name="zip" formControlName="zip_code" />

      <label for="country">Country:</label>
      <input type="text" id="country" name="country" formControlName="country" />
    </div>

    <label for="order_date">Order Date:</label>
    <input type="date" id="order_date" name="order_date" formControlName="order_date" />
    <input type="submit" class="custom-button-blue" value="Submit" (click)="onSubmit()" />
    <input
      type="button"
      id="updateButton"
      class="custom-button-blue"
      value="Update"
      (click)="onUpdate()"
    />
  </form>
</div>
<div class="box xlarge">
  <table id="orders_table">
    <tr *ngFor="let purchaseOrder of purchaseOrders$ | async">
      <app-purchase-order-row
        (selectPurchaseOrder)="onSelect($event)"
        (deletePurchaseOrder)="onDelete($event)"
        [purchaseOrder]="purchaseOrder"
      ></app-purchase-order-row>
    </tr>
  </table>
</div>
<!-- Alert message box -->
<div *ngIf="alertMessage" class="box medium">
  <p class="alert-message">
    {{ alertMessage }}
  </p>
</div>
